 /* 
    Created on : 04/03/2015, 03:30:07 PM
    Author     : mejiaw
*/
body {
    
}

form {
    width: 100%;
}

h1 {
    font-size: 22px;
    color: #000000;
}

h2 {
    font-size: 14px;
    color: #000000;
}

h3 {
    color: #000000;
}

.titulo_centrado {
    text-align: center;
}

.texto_centrado {
    text-align: center;
}

.texto_centrado_2 {
    margin: 0 auto;
}

#header {
    position: relative;
    background-color: #ffffff;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

.center_content {
    position: relative;
    background-color: #f4f4f4;
    padding: 5px;
    text-align: justify;
}

#footer {
    position: relative;
    background-color: #f3eded;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.style_orange {
    background-color: orange;
}

.panelgridrequisitos {
    width: 671px;
    margin: 0 auto;
}
.panelgridchooser {
    width: 692px;
    margin: 0 auto;
}
.panelgridchooser tr, .panelgridchooser td {
    border: white;
}
.panel_grid_center {
    margin: 0 auto;
    width: 750px;
}

.panel_grid_center_clb {
    margin: 0 auto;
}

.panel_grid_center_clb tr, .panel_grid_center_clb td {
    border: white;
}

.panel_center {
    margin: 0 auto;
    width: 750px;
}

.panel_grid_center_4 {
    margin: 0 auto;
}

.panel_grid_center tr, .panel_grid_center td {
    border: white;
}

.panel_grid_center_2 {
    margin: 0 auto;
}

.panel_grid_center_3 {
    margin: 0 auto;
    width: 720px;
}

.size_botones_internos {
    width: 100px;
    height: 35px;
}

.tabla_cursos {
    width: 500px;
}

.texto_1 {
    font-size: 10px;
}

.texto_2 {
    font-size: 11px;
}

.texto_tabla_datos {
    font-size: 11px;
    width: 100%;
    padding-right: 10px;
}

.textotablaclb {
    
}

.textotablaclb tr, .textotablaclb td {
    font-size: 12px;
}
.texto_tabla_datos_codigo {
    font-weight: bold;
}

.texto_tabla_datos_size {
    text-align: center;
    width: 150px;
}

.texto_tabla_datos_accion {
    text-align: center;
    width: 50px;
}

.panel_grid_center_login {
    margin: 0 auto;
    text-align: left;
}
/*Sirve para quitar el borde del panel grid*/
.panel_grid_center_login.ui-panelgrid>*>tr,
.panel_grid_center_login.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.panel_grid_usuario {
    width: 100%;
}

.boton_salir {
    margin: 0 auto;
    text-decoration: none;
    float: left;
    font-size: 14px;
}
.panelgrid404 {
    margin: 0 auto;
    width: 700px;
}

.texto_tabla_pn {
    font-size: 11px;
    width: 100%;
}

.texto_tabla_pn_codigo {
    font-weight: bold;
}

.texto_tabla_pn tr, .texto_tabla_pn td {
    font-size: 12px;
}

.panelviewauditor {
    margin: 0 auto;
    font-size: 12px;
}

.textonegrita {
    font-weight: bold;
}

/*Realizar cambio global de tamaño de fuente*/
.ui-widget, .ui-widget .ui-widget {
    font-size: 95%;
}

/* link */
a.lnks:link {
    color: #000000;
    font-size: 13px;
}
/* visited link */
a.lnks:visited {
    color: #000000;
}
/* mouse over link */
a.lnks:hover {
    color: #FF6600;
}
/* selected link */
a.lnks:active {
    color: buttonface;
}

/* link */
a.lnksestado:link {
    color: #000000;
}
/* visited link */
a.lnksestado:visited {
    color: #000000;
}
/* mouse over link */
a.lnksestado:hover {
    color: #FF6600;
}
/* selected link */
a.lnksestado:active {
    color: buttonface;
}

/* link */
.lnkadjuntos {
    text-decoration: none;
}
a.lnkadjuntos:link {
    color: #000000;
}
/* visited link */
a.lnkadjuntos:visited {
    color: #000000;
}
/* mouse over link */
a.lnkadjuntos:hover {
    color: #FF6600;
}
/* selected link */
a.lnkadjuntos:active {
    color: buttonface;
}

/*Cambiar el color de fondo del header del tabview*/
.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    /*background: activeborder;*/
    background: transparent;
}

/*Cambiar el color de fondo de los paneles del tabview*/
.ui-tabs.ui-tabs-top > .ui-tabs-panels {
    background: transparent;
}

/*Cambiar los tabs el color de fondo y tamaño de puete por defecto
  reducir el tamaño por defencto cuando no estan seleccionadas*/
.ui-tabs.ui-tabs-top > .ui-tabs-nav > .ui-state-default {
    background: transparent;
    /*background-image: url("../images/config-icon.png");*/
    margin-top: 0.6em; 
    font-size: 80%; 
    font-weight: bold;
}

/*Cambiar los tabs el color de fuente por defecto*/
.ui-tabs.ui-tabs-top > .ui-tabs-nav > .ui-state-default a {
    color: #a1a1a1;
}

/*Cambiar los tabs el color de fuente cuando pasa el puntero sobre ella*/
.ui-tabs.ui-tabs-top > .ui-tabs-nav > .ui-state-default a:hover {
    color: #3064a8;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav > .ui-state-default a:active {
    
}

/*Quitar el color del fondo de los tabs y hacerlos mas grandes cuando estan
  seleccionados*/
.ui-tabs.ui-tabs-top > .ui-tabs-nav > .ui-state-selected,
.ui-tabs.ui-tabs-top > .ui-tabs-nav > .ui-state-active {
    background: transparent;
    margin-top: 0em; 
    font-size: 100%;
}

/*Cambiar el color de fuente de los tabs cuando estan seleccionadas*/
.ui-tabs.ui-tabs-top > .ui-tabs-nav > .ui-state-selected a,
.ui-tabs.ui-tabs-top > .ui-tabs-nav > .ui-state-active a {
    color: #459e00;
}

.headerimg01 {
    width: 100px;
    height: 100px;
    float: left;
    background-image: url("../images/ama-vida-logo.png");
    background-repeat: no-repeat;
}
.headerimg02 {
    width: 271px;
    height: 100px;
    float: right;
    background-image: url("../images/arcom-logo.png");
    background-repeat: no-repeat;
}
.headertop {
    /*background-image: url("../images/header-back.png");
    background-repeat: repeat-x;*/
    height: 100px;
}

.columnausr01 {
    
}
.columnausr02 {
    text-align: right;
}

.welcomemsg {
    /*color: #30c1d8;*/
    color: #2c76c3;
    text-shadow: 0px 0px 0px #999;
    /*text-shadow: desplazamiento derecha, desplazamiento abajo, difuminado, color*/
}
.welcomemsg02 {
    color: #000000;
    text-shadow: 0px 0px 0px #999;
}

.panelwelcome {
    width: 100%;
}
/*Sirve para quitar el borde del panel grid*/
.panelwelcome.ui-panelgrid>*>tr,
.panelwelcome.ui-panelgrid .ui-panelgrid-cell {
    background: transparent;
    border: none;
}

.panelgridsinborde {
    
}
/*Sirve para quitar el borde del panel grid*/
.panelgridsinborde.ui-panelgrid>*>tr,
.panelgridsinborde.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.pgsinborde {
    
}
.pgsinborde.ui-panelgrid>*>tr,
.pgsinborde.ui-panelgrid .ui-panelgrid-cell {
    border: none;
    background: transparent;
}

.panelauditorinfo {
    
}
.panelauditorinfo.ui-panelgrid>*>tr,
.panelauditorinfo.ui-panelgrid .ui-panelgrid-cell {
    background: transparent;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

/*Permite cambiar la posición del growl*/
.ui-growl{
    /*position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;*/
}
/*Permite cambiar la fuente del mensaje del growl*/
.ui-growl-message{
    /*color: #459e00 !important;*/
    color: #cfd8dc;
    border-color: #cfd8dc;
}
/*Permite cambiar el fondo del mensaje del growl*/
.ui-growl-item {
    background-color: #546e7a !important;
}
/*Permite cambiar borde del fondo del mensaje del growl*/
.ui-growl-item-container {
    border: none;
}

/*Centrar los botones del dialogo de confirmacion*/
.ui-dialog-buttonpane {
    text-align: center !important;
}